.wide-button {
  color: white;
  background-color: rgb(55, 55, 63);
  font-size: 26px;
  font-weight: 600;
  padding: 1rem;
  border-radius: 10px;
  width: 90%;
  display: flex;
  justify-content: center;
}

.wide-button:hover {
  background-color: rgb(44, 44, 50);
}
